<h1><%= @restaurant.name %></h1>
<p>Address: <%=  @restaurant.address%></p>
<p>Category: <%= @restaurant.category %></p>

<%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %>
<%# <%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %>

<br>
<br>

<%# <%= render 'reviews/form' %>
